.card {
    width: 500px;
    height: 200px;
    background-color: #9DF1DF;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #8DCBE6;
    margin: auto;
    margin-top: 50px;
    padding:20px;
    text-align: center;
  }
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fb8ca4;
  }

  input[type="text"] {
    width: 80%;
    height: 50pxpx;
    border-radius: 15px;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
  }

  input[type="submit"] {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #fb8ca4;
    color: #ffffff;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #f9a8c4;
  }
  .calendar {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
  }
  .day {
    width: calc(100% / 7);
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
    margin: auto;
  }
  .entry-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #8DCBE6;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .date {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .emotion {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .text {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    display: none;
  }
